body{
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

#topbar{
  background-color: #871818;
  width: 100%;
  height: 50px;
  color: white;
}

.fixedwidth{
  width: 1050px;
  margin: 0 auto;
}

#logodiv{
    padding-top: 5px;
    float: left;
    border-right: 1px solid #990000;
    padding-right: 10px;
}

#signindiv{
  padding: 13px 40px 10px 0;
  font-weight: bold;
  font-size: 0.9em;
  float: left;
  border-right: 1px solid #990000;
 }

#signindiv:hover{
  border-bottom: 2px solid white;
}

#signindiv img{
  position: relative;
  top: 3px;
  margin-top: 2px;
  width: 20px;
  margin-left: 40px;
  margin-right: 5px;
}

#topmenudiv{
  float: left;
  box-sizing: content-box;
  /* display: inline; */
}

#topmenudiv li:hover{
    border-bottom: 2px solid white;
}

#topmenudiv ul{
  /* margin-top: 15px; */
  padding: 0 20px 0 20px;

}

#topmenudiv li{
  list-style: none;
  font-weight: bold;
  font-size: 0.9em;
  padding: 4px 20px 10px 20px;
  border-right: 1px solid #990000;
  height: 100%;
  /* display: inline; */
  float: left;
  display: inline;
}

#searchdiv{
  float: top;
  width: 100%;
  height: 40px;
}

#searchdiv input{
  background-image: url('images/Search.png');
  background-repeat: no-repeat;
  background-position: right center;
  float: left;
  height: 25px;
  width: 120px;
  margin-top: 10px;
  padding-left: 5px;
}


#newsbar{
  background-color: #a31212;
  width: 100%;
  height: 100px;
  color: white;

}

.break{
  clear: both;
}

#newsbar p{
  margin: 0;
  float: left;
  /* padding: 0; */
}

#newsheader{
  padding-top: 7px;
  font-size: 3em;
  /* padding-left: 10px; */
}

#uk{
  font-size: 0.5em;
  padding-left: 5px;
}

#rss{
  float: right;
  margin-top: 35px;
}

#rss image{
  /* width: 20px; */
  height: 14px;
  width: 14px;
}

#topicmenu li:hover{
  /* background-color:  */
  border-bottom: 2px solid white;
  background-color: white;
  color: black;
}

#topicmenu ul{
  background-color: #2e1919;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  height: 30px;
  /* padding-top: 7px; */
  /* padding-bottom: 5px; */
}

#topicmenu li{
  list-style: none;
  font-size: 0.8em;
  margin: 1px;
  padding: 8px;
  /* padding: 8px 9.91px 8px 9.91px; */
  border-right: 1px solid black;
  float: left;
}

#content{
  width: 100%;
  color: black;
  font-size: 0.7em;
}

.date{
  font-weight: bold;
}

.fixedwidth h1{
  font-size: 3em;
  color: blue;
}

#owl{
  width: 350px;
  height: 300px;
  float: left;
}

.newsitem{
  top: -13px;
  position: relative;
  left: 10px;
  width: 250px;
  float: left;
  font-size: 1.2em;
}

.newsitem a{
  color: #1F4F82;
  text-decoration: none;
}

.newsitem a:hover{
  text-decoration: underline;
}

.video{
  background-image: url("images/triangle.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.links{
  line-height: 1.7em;
}

#watchlisten{
  float: right;
  background-color: #f2eded;
  width: 400px;
  position: relative;
  top: -50px;
}

h2{
  color: #505050;
  font-size: 2.3em;
  margin: 10px;
}

.boxes{
  float: right;
  padding-top: 25px;
  padding-bottom: 1px;
  padding-right: 20px;
  width: 60px;
}

.leftarrow{
  float: left;
  border: 1px solid white;
  height: 132px;
}

.wlblock{
  width: 170px;
  float: left;
  font-size: 1.2em;
  background-color: #D1700E;
  border: 1px solid white;
}

.wlblock img{
  width: 170px;
  height: 85px;
}

.rblock{
  width: 170px;
  float: left;
  font-size: 1.2em;
  background-color: #D1700E;
  border: 1px solid white;
}

.rblock img{
  padding-bottom: -5px;
  width: 170px;
  height: 85px;
}

.rightarrow{
  float: right;
  border: 1px solid white;
  height: 132px;
  width: 27px;
}

#watchlisten a{
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  color: white;
}

#watchlisten a:hover{
  text-decoration: underline;
}

.lower_list{
  float: left;
  font-size: 17px;
  font-style: bold;
}

#watchlisten ul{
  width: 380px;
  padding-top: 2px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 1px;
  padding-left: 10px;
  /* padding-right: 5px; */
  /* margin-right: 1px; */
}

#watchlisten li{
  list-style: none;
  background-image: url("images/live.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 7px 10px 15px 60px;
  /* border: 0px solid white; */
  font-size: 1.3em;
}

.lastitem{
  border-bottom: 1px solid white;
  color: #de3e3e;
}

#watchlisten li a{
  font-size: 0.8em;
  color: #de3e3e;
}
