*{padding: 0; margin: 0;}

body{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6ea6eb;
  font-family: cursive;
}

.earth,  .About_earth, .earth_facts, .Earth_neighbours, .lastsection{
    margin-left: 20px;
    padding: 20px;
}

header{
  /* border: 2px solid #1b6bcf; */
  padding: 15px 0px 15px 0px;
  margin: 0px;
  border-radius: 10px;
  background-color: #d0d2d6;
}

img{
  margin: 20px;
  display: inline-block;

}

.earth{
  align : 'left';
  color: black;
  margin-right: 450px;
  font-size: 20px;
  font-family: cursive;
}
